.h4List {
    margin-top: 0;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    color: #ecebe4;
}
  
li {
    color: #ecebe4;
}

@media screen and (max-width: 720px) {
    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}