.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.columnHeading {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.fling {
    position: relative;
}

.job {
    margin-right: 10%;
}

.date {
    margin-left: 0;
}

.workTitle {
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    .row {
        flex-direction: column;
    }

    .columnHeading {
        flex-direction: row;
    }

    .date {
        margin-left: auto;
    }
}