.parallax {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    height: -moz-calc((1800 / 2850) * 100vw);
    height: -webkit-calc((1800 / 2850) * 100vw);
    height: calc((1800 / 2850) * 100vw);
}

.parallax__layer{
    position: absolute;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.title {
    position: fixed;
    vertical-align: middle;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 4%;
    right: 3%;
    cursor: pointer;
    color: lightgray;
}